p {
  font-family: Georgia, "Times New Roman", Times, Serif;
  font-size: 1.2em;
}

h1 {
  font-family: "Trebuchet MS", helvetica, sans-serif;
  font-size: 2em;
}

p.important {
  font-size: 1.5em;
  font-weight: 900;
}

.typewriter {
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
}

.emphasized {
  font-style: italic;
}

.red {
    color: red;
}

.spaced-paragraph {
  line-height: 2em;
  letter-spacing: 1.5em;
  word-spacing: 2em;
}

h3 {
  text-align: center;
}

p.justified {
  text-align: justify;
}

p.indent {
  text-indent: 1em;
}

blockquote {
  font-size: 1em;
  color: green;
}

p.offset {
  margin: 2em;
}

.border {
  border: 5px double green;
  padding: 2em;
}

h4, p.center {
  text-align: center;
}

h2#tosh {
  color: orange;
  text-align: center;
}

div.margin {
  margin: 0 10em 0 10em;
}

.blockImage {
  display: block;
}

.inset {
  margin-left: 20em;
}

.center {
  display: block;
  margin: 0 auto 0 auto;
}

.imgFloat {
  float: left;
  margin: 0 50px 5px 0;
}

.noWrap {
  clear: both;
}

a {
  color: grey;
}

a:hover {
  color: orange;
}
