body {
  width: 100%;
  color: purple;
  font-size: 1em;
  font-family: Georgia, Times, serif;
}

div#invisible-header {
  width: 100%;
  visibility: hidden;
}

div#header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #990000;
}

div#header h2, div#invisible-header h2{
  margin-left: 2%;
  padding: 0;
  font-size: 2em;
  font-family: Verdana;
  font-weight: 900;
  color: white;
}

div#header img, div#invisible-header img {
    float: left;
    margin: 1em 1em 0 1em;

}

div#navbar {
  clear: both;
}

div#navbar ul {
  list-style-type: none;
}

div#navbar ul li a {
  font-style: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  font-weight: 900;
  text-decoration: none;
}

p {
  font-family: Georgia, "Times New Roman", Times, Serif;
  font-size: 1.2em;
}

h1 {
  font-family: "Trebuchet MS", helvetica, sans-serif;
  font-size: 2em;
}

p.important {
  font-size: 1.5em;
  font-weight: 900;
}

.typewriter {
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
}

.emphasized {
  font-style: italic;
}

.red {
    color: red;
}

.spaced-paragraph {
  line-height: 2em;
  letter-spacing: 1.5em;
  word-spacing: 2em;
}

h3 {
  text-align: center;
}

p.justified {
  text-align: justify;
}

p.indent {
  text-indent: 1em;
}

blockquote {
  font-size: 1em;
  color: green;
}

p.offset {
  margin: 2em;
}

.border {
  border: 5px double green;
  padding: 2em;
}

h4, p.center {
  text-align: center;
}

h2#tosh {
  color: orange;
  text-align: center;
}

div.margin {
  margin: 0 10em 0 10em;
}

.blockImage {
  display: block;
}

.inset {
  margin-left: 20em;
}

.center {
  display: block;
  margin: 0 auto 0 auto;
}

.imgFloat {
  float: left;
  margin: 0 50px 5px 0;
}

.noWrap {
  clear: both;
}

a {
  color: grey;
}

a:hover {
  color: orange;
}

li {
  margin: .75em;
}

ul {
  list-style-type: square;
}

div#blah p {
  font-size: 2em;
}

th, td {
  border: 1px solid black;
  padding: .25em;
}

table {
  border-collapse: collapse;
  margin-bottom: 10px;

}

#blues {
  width: 75%;
  text-align: center;
}

.shade {
  background-color: lightgray;
}

input[type="text"], textarea {
  font-size: 2em;
  padding: 1em;
}
/*
here's a multiline comment
in front of legend styling */
legend {
  font-weight: bolder;
}

#form-div {
  color: green;
  margin: 0 auto 0 auto;
  width: 60%;
}

div#center-paragraph {
  width: 20%;
  margin: 0 auto 0 auto;
  color: brown;
  font-weight: 900;
  font-size: 2em;
}

#left-div {
  float: left;
  width: 45%;
  border: solid green 1px;
  padding: 5px;
  text-align: justify;
}

#right-div {
  float: right;
  width: 45%;
  border: solid green 1px;
  padding: 5px;
  text-align: justify;
}
